h1 {
    text-align: center;
    text-indent: 0,5em; 
    text-shadow: 0 0 3px #f17474, 0 0 5px #0000FF;
    font-size: 50px;
}
    
body {
    background-image: url("Chess.jpg");
}

.chessboard {
    text-align: center;
    width: 640px;
    height: 640px;
    margin: auto;
    border: 15px solid black;
}

.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #999;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

ol {
font-size:35px;
list-style-type: none;
color:red;
text-align:center;
float:center;
}

@media all and (max-width: 1100px) {
    body {
      width: 100%;
    }
  }
  
@media all and (max-width: 950px) {
    body {
      width: 95%;
    }
}
